.App {
  text-align: center;
}
.AccountBalance{
  padding:20px;
  cursor:auto;
  border-color: rgba(255, 255, 255, .15); 
  color: "black";
  min-height: 120vh;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}
.AccountInfo{
  background-color: #2b2b2b;
}
.signUp{
  background-color: #2b2b2b;
}
.ScrollBox{
  height:294px;
  width:flex;
  border:1px solid #ccc;
  overflow-y:scroll;
}
.SignIn{
  padding-top:75px;
  padding-bottom:15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0 !important;
}
.Footer{
  color:white;
  padding: 3px;
  position: fixed;
  bottom:0;
  left: 0;
  right:0;
}
.Card{
  border-radius: 0 !important;
}
.App-header {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 65%, rgba(0,212,255,1) 100%);
  min-height: 110vh;
  border-radius: 0 !important;
}
.example{
  position:absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
td{ 
  width:38px; 
  overflow: hidden; 
  width: 300px; 
}
h1{
  color:rgb(63, 81, 181);
  font-weight: bold;
}
.buttons-right>button {
  float: right;
  margin: 5px;
}
.app-container {
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  min-height: 110vh;
  background-color: white;
}
.app-container3 {
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
}
.app-container2{
  padding: 15px;
  color:black;
  max-width:100vh;
}
.percentage-number{
  color:#00ff84;
  font-size: 50px;
  font-weight: bold;
}
.percentage-sign{
  color: #00ff84;
  font-size: 40px;
}
.percentage-container{
  text-align: center;
}
.percentage-container:first-child{
  padding-bottom: 3em;
}
.teammate:after{
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.teammate h2{
  font-size: 1.3em;
  font-weight: normal;
  padding-top: 17px;
  margin: 0;
}
.teammate p{
  margin: 0;
  font-size: .7em;
}
.teammate img{
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.mate-info{
  display: inline-block;
  vertical-align: top;
}
.panelbar-wrapper{
  max-width: 300px;
  margin: 0 auto;
}
.App-link {
  color: #61dafb;
}
/* Unused CSS for later */
/*
  background-color: rgba(255, 255, 255, .15);
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  */
  /* Use this to show lines of each widegt on dashboard
.container .row div {
  outline: solid 1px black;
}*/
  /*  border: 1px solid black; */
/*background-image: url(https://wallpapersite.com/images/pages/pic_w/18246.png);*/